<style>
  table,
  td,
  th {
    border-collapse: collapse;
    font-size: 9pt;
    font-family: "\u5b8b\u4f53"
  }

  div {
    font-size: 9pt;
    font-family: "\u5b8b\u4f53";
    margin-bottom: 4pt;
  }

  span {
    font-size: 8pt;
    font-family: "\u5b8b\u4f53"
  }

  /* table {
    width: 95%;
   background: red; 
  } */

  h2 {
    text-align: center;
  }

</style>
<div style="width:60mm;padding-bottom:10pt;word-wrap:break-word;word-break:break-all;">
  <h3 style="margin-bottom:5pt;padding-left:30pt;">销售单据</h3>
  <div class="djwrap">
    <div class="danju">
      <span>单据类型:</span>
      <span>销售</span>
    </div>
    <div class="danju">
      <span>销售单号:</span>
      <div>
        <%= printInfo.BillCode %>
      </div>
    </div>
    <div class="danju">
      <span>客户姓名:</span>
      <span>
        <%= printInfo.FarmerName %>
      </span>
    </div>
    <div class="danju">
      <span>单据日期:</span>
      <span>
        <%= printInfo.CreateTime %>
      </span>
    </div>
  </div>
  <hr />
  <table style="margin-top:3mm;margin-bottom:3mm;">
    <tr style="font-size:14pt">
      <td>商品名</td>
      <td style="padding-left:15pt;">数量</td>
      <td style="padding-left:10pt;">单价</td>
      <td style="padding-left:10pt;">小计(元)</td>
    </tr>
    <%for(var i = 0;i < FarmStoreSale_PesticideList.length;i++){%>
      <tr style="margin-bottom:3px;">
        <td colspan="4" style="word-wrap:break-word;word-break:break-all;">
          <%= FarmStoreSale_PesticideList[i].ProductName %>
        </td>
      </tr>
      <tr style="margin-bottom:3px;">
        <td colspan="1" style="word-wrap:break-word;word-break:break-all;">
        </td>
        <td style="padding-left:15pt;">
          <%= FarmStoreSale_PesticideList[i].Amount %>
        </td>
        <td style="padding-left:10pt;">
          <%= FarmStoreSale_PesticideList[i].SaleUnitPrice %>
        </td>
        <td style="padding-left:10pt;">
          <%= FarmStoreSale_PesticideList[i].Amount*FarmStoreSale_PesticideList[i].SaleUnitPrice %>
        </td>
      </tr>
      <%}%>
  </table>
  <hr />
  <div class="danju">
    <span>原价总计(元):</span>
    <span>
      <%= printInfo.NeedTotalMoney %>
    </span>
  </div>
  <div class="danju">
    <span>实付金额(元):</span>
    <span>
      <%= printInfo.RealTotalMoney %>
    </span>
  </div>
  <hr />
  <div class="bottominfof">
    上述商品清单所涉及的商品及数量，本人已提货签收
  </div>
  <hr />
  <div class="bottominfo" style="padding-left:20pt;padding-top:5pt;padding-bottom:15pt;">
    <div class="ssb">谢谢光顾，欢迎下次光临</div>
    <div class="ssb2">服务电话：18888888888</div>

  </div>

</div>
<!--
  color="#ffffff"
   <table>
  <tr>
    <td width="25mm">单据类型:</td>
    <td>
      <font color="#ababab" size="1.5">销售</font>
    </td>
  </tr>
  <tr>
    <td width="25pt">销售单号:</td>
    <td>
      <font color="#ababab" size="1">
        <%= printInfo.BillCode %>
      </font>
    </td>
  </tr>
  <tr>
    <td width="25px">客户姓名:</td>
    <td>
      <font color="#ababab" size="1">
        <%= printInfo.FarmerName %>
      </font>
    </td>
  </tr>
  <tr>
    <td width="25%">单据日期:</td>
    <td>
      <font color="#ababab" size="1">
        <%= printInfo.CreateTime %>
      </font>
    </td>
  </tr>
</table> -->

<!-- <table style="margin-bottom:3mm;border-collapse: separate;border-spacing: 1pt 0;">
  <tr>
    <td width="40%">原价总计(元)</td>
    <td>
      <font color="#ababab">
        <%= printInfo.NeedTotalMoney %>
      </font>
    </td>
  </tr>
  <tr>
    <td width="40%">实付金额(元)</td>
    <td>
      <font color="#ababab">
        <%= printInfo.RealTotalMoney %>
      </font>
    </td>
  </tr>
</table> -->
